div.b_bg_pattern_abstract2,div.b_bg_pattern_abstract2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_abstract2.gif);
}
div.b_bg_colour_01,div.b_bg_colour_01_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_01.gif);
}
div.b_bg_colour_08,div.b_bg_colour_08_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_08.gif);
}
div.b_bg_colour_12,div.b_bg_colour_12_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_12.gif);
}
div.b_bg_colour_16,div.b_bg_colour_16_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_16.gif);
}
div.b_bg_denim,div.b_bg_denim_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/denim.gif);
}
div.b_bg_lace,div.b_bg_lace_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/lace.gif);
}
div.b_bg_stitched,div.b_bg_stitched_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/stitched.gif);
}
div.b_bg_wood,div.b_bg_wood_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_wood.gif);
}
div.b_bg_cork,div.b_bg_cork_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/cork.png);
}
div.b_bg_stone,div.b_bg_stone_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/stone.gif);
}
div.b_bg_pattern_bricks,div.b_bg_pattern_bricks_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bricks.gif);
}
div.b_bg_ruled_paper,div.b_bg_ruled_paper_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/ruled_paper.gif);
}
div.b_bg_grass,div.b_bg_grass_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/grass.gif);
}
div.b_bg_hotel,div.b_bg_hotel_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hotel.png);
}
div.b_bg_bubble,div.b_bg_bubble_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bubble.gif);
}
div.b_bg_pattern_bobbaskulls1,div.b_bg_pattern_bobbaskulls1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bobbaskulls1.gif);
}
div.b_bg_pattern_space,div.b_bg_pattern_space_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_space.gif);
}
div.b_bg_image_submarine,div.b_bg_image_submarine_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_image_submarine.gif);
}
div.b_bg_metal2,div.b_bg_metal2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/metal2.gif);
}
div.b_bg_broken_glass,div.b_bg_broken_glass_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_broken_glass.png);
}
div.b_bg_pattern_clouds,div.b_bg_pattern_clouds_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_clouds.gif);
}
div.b_bg_comic2,div.b_bg_comic2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/comic2.png);
}
div.b_bg_pattern_floral_01,div.b_bg_pattern_floral_01_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_01.gif);
}
div.b_bg_pattern_floral_02,div.b_bg_pattern_floral_02_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_02.gif);
}
div.b_bg_pattern_floral_03,div.b_bg_pattern_floral_03_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_03.gif);
}
div.b_bg_pattern_bulb,div.b_bg_pattern_bulb_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bulb.gif);
}
div.b_bg_pattern_cars,div.b_bg_pattern_cars_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_cars.gif);
}
div.b_bg_pattern_carpants,div.b_bg_pattern_carpants_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_carpants.gif);
}
div.b_bg_pattern_plasto,div.b_bg_pattern_plasto_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_plasto.gif);
}
div.b_bg_pattern_tinyroom,div.b_bg_pattern_tinyroom_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_tinyroom.gif);
}
div.b_bg_pattern_hearts,div.b_bg_pattern_hearts_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_hearts.gif);
}
div.b_bg_pattern_abstract1,div.b_bg_pattern_abstract1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_abstract1.gif);
}
div.b_bg_bathroom_tile,div.b_bg_bathroom_tile_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_bathroom_tile.gif);
}
div.b_bg_pattern_fish,div.b_bg_pattern_fish_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_fish.gif);
}
div.b_bg_pattern_deepred,div.b_bg_pattern_deepred_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_deepred.gif);
}
div.b_bg_colour_02,div.b_bg_colour_02_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_02.gif);
}
div.b_bg_colour_03,div.b_bg_colour_03_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_03.gif);
}
div.b_bg_colour_04,div.b_bg_colour_04_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_04.gif);
}
div.b_bg_colour_05,div.b_bg_colour_05_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_05.gif);
}
div.b_bg_colour_06,div.b_bg_colour_06_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_06.gif);
}
div.b_bg_colour_07,div.b_bg_colour_07_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_07.gif);
}
div.b_bg_colour_09,div.b_bg_colour_09_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_09.gif);
}
div.b_bg_colour_10,div.b_bg_colour_10_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_10.gif);
}
div.b_bg_colour_11,div.b_bg_colour_11_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_11.gif);
}
div.b_bg_colour_13,div.b_bg_colour_13_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_13.gif);
}
div.b_bg_colour_14,div.b_bg_colour_14_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_14.gif);
}
div.b_bg_colour_15,div.b_bg_colour_15_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_15.gif);
}
div.b_bg_colour_17,div.b_bg_colour_17_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/goth_border_vertical.gif);
}
div.b_bg_tonga,div.b_bg_tonga_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/tonga.gif);
}
div.b_xmas_gifts_bg {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg.gif);
}
div.b_xmas_gifts_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg);
}
div.b_newyear_bg_fireworks,div.b_newyear_bg_fireworks_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/newyear_bg_fireworks.gif);
}
div.b_xmas_bgpattern_starsky,div.b_xmas_bgpattern_starsky_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas_bgpattern_starsky.gif);
}
div.b_goth_pattern,div.b_goth_pattern_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/goth_pattern.gif);
}
div.b_goth_patternn,div.b_goth_patternn_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/goth_pattern.gif);
}
div.b_easter_eggs_wallpaper,div.b_easter_eggs_wallpaper_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/easter_eggs_wallpaper.gif);
}
div.b_hc_bg_machine,div.b_hc_bg_machine_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/HC_machine.png);
}
div.b_hc_bg_pillow,div.b_hc_bg_pillow_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/HC_pillow.gif);
}
div.b_hc_bg_royal,div.b_hc_bg_royal_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/HC_royal.gif);
}
div.b_bg_hw_val_bgpattern_love.gif,div.b_bg_hw_val_bgpattern_love.gif_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hw_val_bgpattern_love.gif);
}
div.b_hw_val_bgpattern_love,div.b_hw_val_bgpattern_love_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_vale_skull_bg,div.b_vale_skull_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/vale_skull_bg.gif);
}
div.b_bg_xmas_gift,div.b_bg_xmas_gift_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg);
}
div.b_newyear_bg_fireworks2,div.b_newyear_bg_fireworks2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/newyear_bg_fireworks2.gif);
}
div.b_nl_green_bg,div.b_nl_green_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/nl_green_bg.gif);
}
div.b_val_bgpattern_love,div.b_val_bgpattern_love_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_val_bgpattern_skull,div.b_val_bgpattern_skull_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/vale_skull_bg.gif);
}
div.b_vale_rose_bg,div.b_vale_rose_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_xmas_box_darkred2 {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/xmas_box_darkred2.gif);
}
div.b_xmas_box_darkred2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/TEST5);
}
div.b_xmas_box_darkred3,div.b_xmas_box_darkred3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/TEST6);
}
div.b_xmas_gifts_bg.gif,div.b_xmas_gifts_bg.gif_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg.gif);
}
div.b_bg_bobbaheart,div.b_bg_bobbaheart_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_bobbaheart.gif);
}
div.b_bg_rain,div.b_bg_rain_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_rain.gif);
}
div.b_bg_serpentine_1,div.b_bg_serpentine_1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_1.gif);
}
div.b_bg_serpentine_2,div.b_bg_serpentine_2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_2.gif);
}
div.b_bg_serpentine_darkblue,div.b_bg_serpentine_darkblue_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_darkblue.gif);
}
div.b_bg_serpentine_darkred,div.b_bg_serpentine_darkred_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_darkred.gif);
}
div.b_habboween_bg_bg,div.b_habboween_bg_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/habboween_bg.gif);
}
div.b_globalw_background,div.b_globalw_background_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/GlobalW_Background.gif);
}
div.b_habbox {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habbox.gif);
}
div.b_habbox_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/HW HABBOX);
}
div.b_bg_battle_ball2,div.b_bg_battle_ball2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BB_Group2.png);
}
div.b_bg_infobus_blue,div.b_bg_infobus_blue_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_blue.png);
}
div.b_bg_infobus_white,div.b_bg_infobus_white_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_white.png);
}
div.b_bg_infobus_yellow,div.b_bg_infobus_yellow_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_yellow.png);
}
div.b_bg_lido_flat,div.b_bg_lido_flat_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/lido_flatt_bg.png);
}
div.b_bg_lidoo,div.b_bg_lidoo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/lidoo_bg.png);
}
div.b_bg_vip,div.b_bg_vip_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Vip_Group.png);
}
div.b_bg_wobble_squabble,div.b_bg_wobble_squabble_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/WS_Group2.png);
}
div.b_habbogroup,div.b_habbogroup_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbos_group.png);
}
div.b_snowstorm_bg,div.b_snowstorm_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/snowstorm_bg.png);
}
div.b_christmas2007bg_001,div.b_christmas2007bg_001_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/christmas2007bg_001.gif);
}
div.b_abrinq_infobus,div.b_abrinq_infobus_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/abrinq_infobus.png);
}
div.b_abrinq_infobusg,div.b_abrinq_infobusg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/abrinq_infobusg.gif);
}
div.b_infobus_abrinq_sem_logo,div.b_infobus_abrinq_sem_logo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/infobus_abrinq_sem_logo.gif);
}
div.b_festa de boas vindas,div.b_festa de boas vindas_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/28221_Comic_style_orange_001.gif);
}
div.b_welcoming_party,div.b_welcoming_party_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/welcoming_party.gif);
}
div.b_makeover,div.b_makeover_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/makeover.gif);
}
div.b_alhambragroup,div.b_alhambragroup_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/alhambragroup.png);
}
div.b_gruposedateens.jpg,div.b_gruposedateens.jpg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habbo_paginagrupo_bgsedateens.jpg);
}
div.b_jp_prom_bg,div.b_jp_prom_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/jp_prom_bg.png);
}
div.b_wallpaper_bonsai,div.b_wallpaper_bonsai_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_bonsai.png);
}
div.b_habborella_sea_bg,div.b_habborella_sea_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habborella_sea_bg.gif);
}
div.b_hundredmillion_bg,div.b_hundredmillion_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hundredmillion_bg.png);
}
div.b_tiki_firehead_bg,div.b_tiki_firehead_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/tiki_firehead_bg.png);
}
div.b_summer_bg,div.b_summer_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/summer_bg_optimal.png);
}
div.b_cheesewedge_wallpaper,div.b_cheesewedge_wallpaper_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/CheeseWedge_wallpaper.gif);
}
div.b_camocheese_wallpaper,div.b_camocheese_wallpaper_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/CamoCheese_wallpaper.gif);
}
div.b_vip_group,div.b_vip_group_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Vip_Group.png);
}
div.b_bg games top gamers,div.b_bg games top gamers_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/top_gamers_bg_64.png);
}
div.b_bg_guidegroup,div.b_bg_guidegroup_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_guidegroup.png);
}
div.b_snowbattle_bg,div.b_snowbattle_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/grouppage_snowbattle.png);
}
div.b_top_gamers_bg_64,div.b_top_gamers_bg_64_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/top_gamers_bg_64.png);
}
div.b_guidesgroup_bg,div.b_guidesgroup_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/guidesgroup_bg.png);
}
div.b_grouppage_snowbattle2,div.b_grouppage_snowbattle2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/grouppage_snowbattle2.png);
}
div.b_skateb_ollie_bg,div.b_skateb_ollie_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/skateb_ollie_BG2.jpg);
}
div.b_habbolympics_bg_final,div.b_habbolympics_bg_final_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habbolympics_bg_final.gif);
}
div.b_wallpaper_musicgroup,div.b_wallpaper_musicgroup_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_musicGroup.png);
}
div.b_wallpaper_moviesgroup,div.b_wallpaper_moviesgroup_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_moviesGroup.png);
}
div.b_head_guides_germany,div.b_head_guides_germany_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Head_Guides_Germany.png);
}
div.b_wallpaper_backtoschool,div.b_wallpaper_backtoschool_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_backToSchool.png);
}
div.b_al_day_of_peace_bg,div.b_al_day_of_peace_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/peacegroup.gif);
}
div.b_usob_grouppag_1e,div.b_usob_grouppag_1e_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/USOB_grouppag_1e.png);
}
div.b_achievement,div.b_achievement_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/achievement_web_bg.png);
}
div.b_habboevents,div.b_habboevents_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/Habboevents.png);
}
div.b_hw_day1,div.b_hw_day1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hw_day1.png);
}
div.b_hw_day2.png,div.b_hw_day2.png_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hw_day2.png);
}
div.b_hw_day3.png {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hw_day3);
}
div.b_hw_day3.png_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hw_day3.png);
}
div.b_hw_day2,div.b_hw_day2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hw_day2.png);
}
div.b_hw_day3,div.b_hw_day3_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hw_day3.png);
}
div.b_hw_day4,div.b_hw_day4_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hw_day4.png);
}
div.b_hw_day5,div.b_hw_day5_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hw_day5.png);
}
div.b_hw_day6,div.b_hw_day6_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hw_day6.png);
}
div.b_neon_homepage2,div.b_neon_homepage2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/neon_homepage2.png);
}
div.b_neon_subpage,div.b_neon_subpage_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/neon_subpage2.png);
}
div.b_bg_ol_far_west,div.b_bg_ol_far_west_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ol_far_west.gif);
}
div.b_xmas08_gpbg,div.b_xmas08_gpbg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas08_gpbg.png);
}
div.b_wallpaper_earthday,div.b_wallpaper_earthday_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_EarthDay.gif);
}
div.b_wallpaper_victoriaday,div.b_wallpaper_victoriaday_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_victoriaDay.gif);
}
div.b_wallpaper_4th,div.b_wallpaper_4th_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_4th.png);
}
div.b_stem_group_928x1360.sized.png,div.b_stem_group_928x1360.sized.png_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/stem_group_928x1360.sized);
}
div.b_stem_group_928x1360.png,div.b_stem_group_928x1360.png_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/stem_group_928x1360);
}
div.b_wallpaper_newsiesca,div.b_wallpaper_newsiesca_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_NewsiesCA.gif);
}
div.b_h4d_habbo_background_group_03,div.b_h4d_habbo_background_group_03_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/H4D_habbo_background_group_03.png);
}
div.b_wallpaper_inked,div.b_wallpaper_inked_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_inked.gif);
}
div.b_dk_sysbjerre_bg_v1,div.b_dk_sysbjerre_bg_v1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/DK_SysBjerre_bg_v1.jpg);
}
div.b_bg_nobobba,div.b_bg_nobobba_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_nobobba.gif);
}
div.b_brpt_bg_summer_928x1360,div.b_brpt_bg_summer_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/BRPT_bg_Summer_928x1360.png);
}
div.b_brpt_h4d_habbo_bg_group_03new,div.b_brpt_h4d_habbo_bg_group_03new_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BRPT_H4D_habbo_bg_group_03new.gif);
}
div.b_shabboline,div.b_shabboline_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/shabboline.png);
}
div.b_br_3_aniver_bg,div.b_br_3_aniver_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/br_3_aniver_bg.png);
}
div.b_bg_shalimar_grouptheatre,div.b_bg_shalimar_grouptheatre_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_shalimar_grouptheatre.png);
}
div.b_toolbar_bg2,div.b_toolbar_bg2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/toolbar_bg2.png);
}
div.b_au_australia_campaign_bg_02_v1,div.b_au_australia_campaign_bg_02_v1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/AU_Australia_Campaign_bg_02_v1.gif);
}
div.b_dk_j_spliff,div.b_dk_j_spliff_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/DK_J_spliff.jpg);
}
div.b_pagegroup_carnaval_928x1360,div.b_pagegroup_carnaval_928x1360_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/pagegroup_carnaval_928x1360.png);
}
div.b_cybercafe_wallpaper_928x1360,div.b_cybercafe_wallpaper_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Cybercafe_wallpaper_928x1360.png);
}
div.b_background_928x1360,div.b_background_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/background_928x1360.png);
}
div.b_br_sam_the_kid_bg,div.b_br_sam_the_kid_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BR_Sam_the_Kid_bg.png);
}
div.b_bg_lostc_oceanfloor,div.b_bg_lostc_oceanfloor_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_lostc_oceanfloor.png);
}
div.b_skulls_wallpaper,div.b_skulls_wallpaper_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/skulls_wallpaper.gif);
}
div.b_bg_earth_hour,div.b_bg_earth_hour_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_earth_hour.png);
}
div.b_exec_bg_viilu,div.b_exec_bg_viilu_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/Exec_bg_viilu.gif);
}
div.b_easterbackground2009,div.b_easterbackground2009_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_5.gif);
}
div.b_es_superherobg,div.b_es_superherobg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/ES_SuperheroBG.png);
}
div.b_150k_easter_bg_938x1360,div.b_150k_easter_bg_938x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/150k_easter_bg_938x1360.png);
}
div.b_background_group_pages_fonzie_928x1360,div.b_background_group_pages_fonzie_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Background_group_pages_fonzie_928x1360.jpg);
}
div.b_bg_generic_city,div.b_bg_generic_city_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_generic_city.png);
}
div.b_uk_habboway_group_928x1360,div.b_uk_habboway_group_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/uk_habboway_group_928x1360.gif);
}
div.b_uk_parentsguide_group_928x1360,div.b_uk_parentsguide_group_928x1360_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/uk_parentsguide_group_928x1360.gif);
}
div.b_uk_safetytips_group_928x1360,div.b_uk_safetytips_group_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/uk_safetytips_group_928x1360.gif);
}
div.b_brthatykiss2,div.b_brthatykiss2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/BRthatykiss2.jpg);
}
div.b_discussions,div.b_discussions_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Discussions.png);
}
div.b_trakinas_bg_2,div.b_trakinas_bg_2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/trakinas_bg_2.jpg);
}
div.b_au_50svs70s_50s_bg_v1,div.b_au_50svs70s_50s_bg_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/AU_50svs70s_50s_bg_v1.gif);
}
div.b_au_50svs70s_70s_bg_v2,div.b_au_50svs70s_70s_bg_v2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/AU_50svs70s_70s_bg_v2.gif);
}
div.b_beta_group_bg2,div.b_beta_group_bg2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/beta_group_bg2.png);
}
div.b_lost-tribe_background,div.b_lost-tribe_background_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ltribe_jungle.png);
}
div.b_bg_ltribe_jungle,div.b_bg_ltribe_jungle_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ltribe_jungle.png);
}
div.b_wallpaper_prom09,div.b_wallpaper_prom09_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_prom09.png);
}
div.b_grouppage_country,div.b_grouppage_country_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/grouppage_country.gif);
}
div.b_wallpaper_tradingfloor,div.b_wallpaper_tradingfloor_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_tradingFloor.png);
}
div.b_openbeta_bg,div.b_openbeta_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/openbeta_bg.png);
}
div.b_disney_xd_928x1360,div.b_disney_xd_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/disney_xd_928x1360.jpg);
}
div.b_bg_hotcool_summer,div.b_bg_hotcool_summer_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_hotcool_summer.gif);
}
div.b_groupbg_scifi2,div.b_groupbg_scifi2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/groupbg_scifi2.png);
}
div.b_aroundtheworld_bg,div.b_aroundtheworld_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/aroundtheworld_bg.gif);
}
div.b_bg_falcao_928x1360,div.b_bg_falcao_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_Falcao_928x1360.png );
}
div.b_br_background_office_928x1360,div.b_br_background_office_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/br_background_office_928x1360.png);
}
div.b_br_gp_pagina_avon,div.b_br_gp_pagina_avon_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/br_gp_pagina_avon.jpg);
}
div.b_br_gp_pagina_ci,div.b_br_gp_pagina_ci_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/br_gp_pagina_ci.gif);
}
div.b_br_gp_topgear,div.b_br_gp_topgear_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/br_gp_topgear.jpg);
}
div.b_br_gp_hsm_desafio,div.b_br_gp_hsm_desafio_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/br_gp_hsm_desafio.jpg);
}
div.b_br_gp_pagina_grupo,div.b_br_gp_pagina_grupo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/br_gp_pagina_grupo.gif);
}
div.b_bg_up928x1360,div.b_bg_up928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_up928x1360.jpg);
}
div.b_bg_relax,div.b_bg_relax_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_relax.gif);
}
div.b_kitchensurvivor_bg_v1,div.b_kitchensurvivor_bg_v1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/KitchenSurvivor_BG_v1.png);
}
div.b_bg_ema09,div.b_bg_ema09_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ema09.png);
}
div.b_coca_sprite_templop_habbo_game_pagina928x1360_por,div.b_coca_sprite_templop_habbo_game_pagina928x1360_por_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Coca_Sprite_TemploP_Habbo_Game_Pagina928x1360_POR.);
}
div.b_bg_br_pt_sprite_templo,div.b_bg_br_pt_sprite_templo_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_br_pt_sprite_templo.jpg);
}
div.b_mad_habbo,div.b_mad_habbo_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/MAD_Habbo.gif);
}
div.b_bg_ana_canas,div.b_bg_ana_canas_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/BG_Ana_Canas.jpg);
}
div.b_bg_hween09_newsofhabbo2,div.b_bg_hween09_newsofhabbo2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_hween09_newsofhabbo2.gif);
}
div.b_bg_jullie,div.b_bg_jullie_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BG_Jullie.jpg);
}
div.b_garotassuecas_background_928x1360,div.b_garotassuecas_background_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/GAROTASSUECAS_background_928x1360.jpg);
}
div.b_bg_twilight_week2,div.b_bg_twilight_week2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week2_002.png);
}
div.b_bg_twilight_week3,div.b_bg_twilight_week3_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week3.png);
}
div.b_bg_twilight_week4,div.b_bg_twilight_week4_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week4_002.png);
}
div.b_bg_twilight_week4_nologo,div.b_bg_twilight_week4_nologo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week4_nologo_001.png);
}
div.b_bg_twilight_week2_nologo_002,div.b_bg_twilight_week2_nologo_002_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week2_nologo_002.png);
}
div.b_bg_wanessa,div.b_bg_wanessa_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/BG_Wanessa.jpg);
}
div.b_bg_twilight_week3_nologo_009,div.b_bg_twilight_week3_nologo_009_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week3_nologo_009.png);
}
div.b_bg_gomo,div.b_bg_gomo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/BG_Gomo.jpg);
}
div.b_bg_xmas09_wall,div.b_bg_xmas09_wall_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_xmas09_wall.gif);
}
div.b_xmas2009_bg_snowing,div.b_xmas2009_bg_snowing_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/xmas2009_bg_snowing.gif);
}
div.b_xmas2009_bg_xmasfun,div.b_xmas2009_bg_xmasfun_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/xmas2009_bg_xmasfun.png);
}
div.b_bg_envydust,div.b_bg_envydust_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/BG_Envydust.jpg);
}
div.b_bg_alvin2_br,div.b_bg_alvin2_br_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_alvin2_br.jpg);
}
div.b_br_background_office_928x1360_001,div.b_br_background_office_928x1360_001_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/br_background_office_928x1360_001.png );
}
div.b_group_page_rancho_928x1360,div.b_group_page_rancho_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/group_page_rancho_928x1360.png);
}
div.b_bg_hbh,div.b_bg_hbh_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_hbh.png);
}
div.b_dojl_groupbg_final,div.b_dojl_groupbg_final_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/dojl_groupbg_final.gif);
}
div.b_sprite2zero_habbob_v2,div.b_sprite2zero_habbob_v2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Sprite2zero_Habbob_v2.jpg);
}
div.b_mb_groupbg_3_stickys,div.b_mb_groupbg_3_stickys_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/mb_groupbg_3_stickys.png);
}
div.b_au_wp_surf_sho_v2,div.b_au_wp_surf_sho_v2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/april_fools_page_group_928x_1360.png);
}
div.b_bg_safety_contactus,div.b_bg_safety_contactus_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_safety_contactus.gif);
}
div.b_bg_trakinas3f,div.b_bg_trakinas3f_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_trakinas3f.jpg);
}
div.b_habwrecked_2010_group,div.b_habwrecked_2010_group_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habwrecked_2010_group.gif);
}
div.b_bg_habborunway_launch,div.b_bg_habborunway_launch_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_launch.gif);
}
div.b_bg_ci_suitcase,div.b_bg_ci_suitcase_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_CI_suitcase.png);
}
div.b_bg_habborunway_voting,div.b_bg_habborunway_voting_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_voting.gif);
}
div.b_onegoal_bg,div.b_onegoal_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/1goal_bg.jpg);
}
div.b_bg_habborunway_fashionweek2,div.b_bg_habborunway_fashionweek2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_fashionweek2.gif);
}
div.b_br_bg_elections,div.b_br_bg_elections_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/BR_bg_elections.png);
}
div.b_habbo_infobuspage_1_2,div.b_habbo_infobuspage_1_2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habbo_infobuspage_1_2.png);
}
div.b_bg_futgogos_minisite,div.b_bg_futgogos_minisite_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_Futgogos_Minisite.png);
}
div.b_br_valentine_928x1360,div.b_br_valentine_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BR_valentine_928x1360.png);
}
div.b_bg_restart,div.b_bg_restart_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/BG_Restart.jpg);
}
div.b_wc_group,div.b_wc_group_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wc_group.png);
}
div.b_br_ekloos_bg,div.b_br_ekloos_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/BR_EKLOOS_BG.png);
}
div.b_wallpaper_bigwave,div.b_wallpaper_bigwave_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_bigWave.png);
}
div.b_bg_bookclub_brpt,div.b_bg_bookclub_brpt_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_bookclub_brpt.png);
}
div.b_wallpaper_stage_text,div.b_wallpaper_stage_text_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_STAGE_TEXT.png);
}
div.b_br_dulcemaria,div.b_br_dulcemaria_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/BR_DULCEMARIA.jpg);
}
div.b_bg_danielamercury,div.b_bg_danielamercury_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_DANIELAMERCURY.png);
}
div.b_gpage_sprite_spark,div.b_gpage_sprite_spark_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/GPage_Sprite_Spark.jpg);
}
div.b_bg_ema10_grouppage2,div.b_bg_ema10_grouppage2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage2.gif);
}
div.b_bg_ema10_grouppage3 {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage3.gif);
}
div.b_bg_ema10_grouppage3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage3.gif );
}
div.b_bg_despicableme_1,div.b_bg_despicableme_1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_despicableme_1.jpg);
}
div.b_wallpaper_battlebanzai,div.b_wallpaper_battlebanzai_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_battleBanzai.png);
}
div.b_bg_ema10_grouppage4,div.b_bg_ema10_grouppage4_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage4.gif);
}
div.b_solid_bg_white,div.b_solid_bg_white_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/Solid_BG_white.gif);
}
div.b_wallpaper_hween10,div.b_wallpaper_hween10_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_hween10.png);
}
div.b_wallpaper_wired2,div.b_wallpaper_wired2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_wired2.png);
}
div.b_wallpaper_xm10_bc,div.b_wallpaper_xm10_bc_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_xm10_bc.png);
}
div.b_bg_br_claro,div.b_bg_br_claro_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_br_claro.png);
}
div.b_bg_br_claro2,div.b_bg_br_claro2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/BR_CLARO.png);
}
div.b_cacaaosfamosos2,div.b_cacaaosfamosos2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/CacaAosFamosos2.gif);
}
div.b_bg_kfp2_brazil,div.b_bg_kfp2_brazil_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_kfp2_brazil.jpg);
}
div.b_wallpaper_val11,div.b_wallpaper_val11_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_val11.png);
}
div.b_bg_habbotv,div.b_bg_habbotv_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/BG_habboTV.png);
}
div.b_habbo_p_ginadegrupo_concursobanda_fim,div.b_habbo_p_ginadegrupo_concursobanda_fim_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/Habbo_p_ginadegrupo_ConcursoBanda_fim.jpg);
}
div.b_earthhour_wwf_background,div.b_earthhour_wwf_background_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/earthhour_wwf_background.png);
}
div.b_brpt_fanta_bg_928x1360_240311_v1,div.b_brpt_fanta_bg_928x1360_240311_v1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/BRPT_Fanta_BG_928x1360_240311_v1.jpg);
}
div.b_bg_mtv_portugal,div.b_bg_mtv_portugal_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_mtv_portugal.jpg);
}
div.b_bg_mtv_portugalv2,div.b_bg_mtv_portugalv2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_mtv_portugalv2.jpg);
}
div.b_br_superteen_140411_bg_v1,div.b_br_superteen_140411_bg_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/BR_Superteen_140411_BG_v1.jpg);
}
div.b_mtvbg,div.b_mtvbg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/MtvBg.jpeg);
}
div.b_bg_trakinas_rio,div.b_bg_trakinas_rio_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_trakinas_rio.jpg);
}
div.b_bg_trakinas_rionew,div.b_bg_trakinas_rionew_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_trakinas_rionew.jpg);
}
div.b_bg_kfp2_brazil_001,div.b_bg_kfp2_brazil_001_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_kfp2_brazil_001.jpg);
}
div.b_bg_kfp2_brazil_02,div.b_bg_kfp2_brazil_02_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_kfp2_brazil_02.jpg);
}
div.b_brpt_superteen_gp_bg_070611_v1,div.b_brpt_superteen_gp_bg_070611_v1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BRPT_Superteen_GP_BG_070611_v1.jpg);
}
div.b_es_giraffas_gp_background_140611_v1,div.b_es_giraffas_gp_background_140611_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_Giraffas_GP_Background_140611_v1.jpg);
}
div.b_bg_comic_orange,div.b_bg_comic_orange_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/28221_Comic_style_orange_001.gif);
}
div.b_br_mtv_gp_bg_180711_v1,div.b_br_mtv_gp_bg_180711_v1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/BR_MTV_GP_BG_180711_v1.jpg);
}
div.b_bg_trakicontrole,div.b_bg_trakicontrole_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_trakicontrole.jpg);
}
div.b_bg_trakinas_br,div.b_bg_trakinas_br_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_trakinas_br.jpg);
}
div.b_bg_pib_br,div.b_bg_pib_br_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pib_BR.jpg);
}
div.b_bg_fanta_morango_maracuja,div.b_bg_fanta_morango_maracuja_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_Fanta_morango_maracuja.jpg);
}
div.b_bg_jessiej,div.b_bg_jessiej_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BG_JessieJ.jpg);
}
div.b_bg_habbo_demi_sp,div.b_bg_habbo_demi_sp_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_habbo_demi_SP.jpg);
}
div.b_mad3_promo_br,div.b_mad3_promo_br_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/mad3_promo_BR.jpg);
}
div.b_mad3_group_br,div.b_mad3_group_br_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/mad3_group_BR.jpg);
}
div.b_mad3_group_br3,div.b_mad3_group_br3_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/mad3_group_BR.jpg);
}
div.b_bg_madonna_br,div.b_bg_madonna_br_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_madonna_br.jpg);
}
div.b_bg_hotsitehabbo_promobelieve150kb,div.b_bg_hotsitehabbo_promobelieve150kb_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_hotsitehabbo_promobelieve150kb.jpg);
}
div.b_bg_justin_v3,div.b_bg_justin_v3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_justin_v3.jpg);
}
div.b_bg_taylorswift_v2,div.b_bg_taylorswift_v2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_taylorswift_V2.jpg);
}